.td_request{
    width: 30%;
}
.td_cancel{
    width: 15%;
}
.td_lec{
    width: 13%;
}
.td_roc,.td_learn,.td_type{
    width: 10%;
}
.td_qty{
    width: 7%;
}
.tabcontent{
    width: 70%;
}
.td_course_name{
    width: 80%;
}
.td_type_learn{
    width: 20%;
}
.td_ap_course_name{
    width: 55%;
}
.td_status{
    width: 25%;
}
.td_list_member{
    width: 20%;
}
h1{
    font-family: 'Prompt', sans-serif;
    font-weight: 700 !important;
}
.bottom{
    height: 20%;
}
.select_type{
    width: 70%;
    border: #a9a9a9 1px solid;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    margin-bottom: 15px;
    background-color: #efefef;
}
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}